___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___
# Python Crash Course

Please note, this is not meant to be a comprehensive overview of Python or programming in general, if you have no programming experience, you should probably take my other course: [Complete Python Bootcamp](https://www.udemy.com/complete-python-bootcamp/?couponCode=PY20) instead.

**This notebook is just a code reference for the videos, no written explanations here**

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [3]:
1 + 1

2

In [4]:
1 * 3

3

In [8]:
1 / 2

0.5

In [9]:
2 ** 4

16

In [10]:
4 % 2

0

In [11]:
5 % 2

1

In [12]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [13]:
# Can not start with number or special characters
name_of_var = 2

In [14]:
x = 2
y = 3

In [15]:
z = x + y

In [16]:
z

5

### Strings

In [17]:
'single quotes'

'single quotes'

In [18]:
"double quotes"

'double quotes'

In [19]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [20]:
x = 'hello'

In [21]:
x

'hello'

In [22]:
print(x)

hello

In [2]:
num = 12
name = 'Sam'

In [3]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [4]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

### Lists

In [5]:
[1,2,3]

[1, 2, 3]

In [6]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [7]:
my_list = ['a','b','c']

In [8]:
my_list.append('d')

In [9]:
my_list

['a', 'b', 'c', 'd']

In [10]:
my_list[0]

'a'

In [11]:
my_list[1]

'b'

In [12]:
my_list[1:]

['b', 'c', 'd']

In [13]:
my_list[:1]

['a']

In [14]:
my_list[0] = 'NEW'

In [15]:
my_list

['NEW', 'b', 'c', 'd']

In [16]:
nest = [1,2,3,[4,5,['target']]]

In [17]:
nest[3]

[4, 5, ['target']]

In [18]:
nest[3][2]

['target']

In [19]:
nest[3][2][0]

'target'

### Dictionaries

In [20]:
d = {'key1':'item1','key2':'item2'}

In [21]:
d

{'key1': 'item1', 'key2': 'item2'}

In [22]:
d['key1']

'item1'

### Booleans

In [23]:
True

True

In [24]:
False

False

### Tuples

In [28]:
t = ('New',1,2,3)

In [29]:
t[0]

'New'

In [30]:
t[0]

'New'

In [31]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

In [32]:
{1,2,3}

{1, 2, 3}

In [33]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

## Comparison Operators

In [34]:
1 > 2

False

In [35]:
1 < 2

True

In [37]:
1 >= 1

True

In [38]:
1 <= 4

True

In [39]:
1 == 1

True

In [40]:
'hi' == 'bye'

False

## Logic Operators

In [41]:
(1 > 2) and (2 < 3)

False

In [42]:
(1 > 2) or (2 < 3)

True

In [44]:
(1 == 2) or (2 == 3) or (4 == 4)

True

In [46]:
(not 1 >= 1)

False

## if,elif, else Statements

In [53]:
if 1 < 2:
    print('Yep!')

Yep!

In [54]:
if 1 < 2:
    print('yep!')

yep!

In [55]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [56]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [57]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [58]:
seq = [1,2,3,4,5]

In [61]:
for item in seq:
    print(item)

1
2
3
4
5

In [62]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [63]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

In [64]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [73]:
def run_loop(data):
    i = 1
    while i < data:
        print(i)
        i += 1

run_loop(10)

1
2
3
4
5
6
7
8
9

In [77]:
def run_thru_list_data_using_while(data):
    index = 0
    while index < len(data):
        print(data[index])
        index += 1
    print(end="\n")

def run_thru_list_data_using_for(data):
    for item in data:
        print(item)
    print(end="\n")
        
run_thru_list_data_using_while(seq)
run_thru_list_data_using_while(range(5))
run_thru_list_data_using_for(seq)
run_thru_list_data_using_for(range(5))

1
2
3
4
5

0
1
2
3
4

1
2
3
4
5

0
1
2
3
4

## range()

In [70]:
range(5)

range(0, 5)

In [78]:
for i in range(5):
    print(i)

0
1
2
3
4

In [79]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [80]:
x = [1,2,3,4]

In [84]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [87]:
[item**2 for item in x]

[1, 4, 9, 16]

In [89]:
[item/2 for item in x]

[0.5, 1.0, 1.5, 2.0]

## functions

In [90]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [92]:
my_func

In [94]:
my_func()

default

In [95]:
my_func('new param')

new param

In [103]:
def convert_to_int(str) -> int:
    return int(str)

print(convert_to_int('17897590234903457955345345645645653454354565345436456456456456645646'))
print(convert_to_int('2'))
print(convert_to_int('3'))
print(convert_to_int('4'))
print(convert_to_int('5'))
print(convert_to_int('6'))
print(convert_to_int('7'))

17897590234903457955345345645645653454354565345436456456456456645646
2
3
4
5
6
7

In [111]:
def add_two_numbers(num1=10, num2=20):
    return num1 + num2

add_two_numbers(num2=2)

12

In [112]:
add_two_numbers(num1=2)

22

In [114]:
add_two_numbers(20, 30)

50

In [115]:
my_func(param1='new param')

new param

In [116]:
def square(x):
    return x**2

In [117]:
out = square(2)

In [118]:
print(out)

4

## lambda expressions

In [119]:
def times2(var):
    return var*2

In [81]:
times2(2)

4

In [120]:
lambda var: var*2

## map and filter

In [121]:
seq = [1,2,3,4,5]

In [122]:
map(times2,seq)

In [124]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [125]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [126]:
filter(lambda item: item%2 == 0,seq)

In [130]:
list(map(lambda item: item%2 == 0, [1,2,3,4,5,6,7,8,9,10]))

[False, True, False, True, False, True, False, True, False, True]

In [131]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [132]:
st = 'hello my name is Sam'

In [133]:
st.lower()

'hello my name is sam'

In [134]:
st.upper()

'HELLO MY NAME IS SAM'

In [135]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [136]:
tweet = 'Go Sports! #Sports'

In [137]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [138]:
tweet.split('#')[1]

'Sports'

In [139]:
d

{'key1': 'item1', 'key2': 'item2'}

In [140]:
d.keys()

dict_keys(['key1', 'key2'])

In [141]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [142]:
lst = [1,2,3]

In [143]:
lst.pop()

3

In [144]:
lst

[1, 2]

In [145]:
'x' in [1,2,3]

False

In [146]:
'x' in ['x','y','z']

True

# Great Job!